.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #333;
}

.logo span {
  color: #2e9e53;
}

/* Username */
.username {
  font-weight: 500;
  color: #2e9e53;
}